body {
    background: linear-gradient(#FEAA9F,#E8A0C6,#8CA4BE);
    background-attachment: fixed;
}

#logo {
    margin-left: 60%;
}

#navlist {
    font-weight: bolder;
}

.bdr {
    border-radius: 6px;
    overflow: hidden;
  }