{% extends 'layouts/layout.html' %}

{% block content %}

    
    <div class="container mt-4">
        <h1>Add a new task?</h1>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Add a New Task</h5>
        
                <form action="{{ url_for('add_task') }}" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Task Title:</label>
                        <input type="text" name="title" class="form-control w-50" required>
                    </div>
                    <input type="hidden" name="referrer" value="{{ request.url }}">
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
    <h1>Task List</h1>
    </div>

  <!--  {{ tasks }} {# Print tasks for debugging purposes #} -->
    <div class="d-flex justify-content-evenly">
        
        <table class="table w-75 bdr" id="tasktable">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date Made</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task['title'] }}</td>
                        <td>{{ task['date_made'] }}</td>
                        <td>{% if task['is_complete'] == 1 %}Complete{% else %}Incomplete{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}