{% extends 'layouts/layout.html' %}

{% block content %}

    
    <div class="container mt-4">
        <h1>Add a new task?</h1>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Add a New Task</h5>
        
                <form action="{{ url_for('add_task') }}" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Task Title:</label>
                        <input type="text" name="title" class="form-control w-50" required>
                    </div>
                    <input type="hidden" name="referrer" value="{{ request.url }}">
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
    <h1>Task List</h1>
    </div>

  <!--  {{ tasks }} {# Print tasks for debugging purposes #} -->
    <div class="d-flex justify-content-evenly">
        <div>
            <table class="table table-responsive w-75 bdr mt-5 " id="tasktable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date Made</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task['title'] }}</td>
                        <td>{{ task['date_made'] }}</td>
                        <td>Incomplete</td>
                        <td>
                            <form action="{{ url_for('complete_task', task_id=task['id']) }}" method="post">
                                <button type="submit" class="btn btn-primary">Mark as Complete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}