{% extends 'layouts/layout.html' %}
{% block content %}
<div class="container mt-5">
<h1> History</h1>
</div>

    <div class="d-flex justify-content-evenly">
        <div class="table-responsive w-75 bdr mt-5">
        <table class="table " id="tasktable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date Made</th>
                    <th scope="col">Date Completed</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task['title'] }}</td>
                        <td>{{ task['date_made'] }}</td>
                        <td>{{ task['date_completed'] }}</td>
                        <td>Completed</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}