{% extends 'layouts/layout.html' %}
{% block content %}
<div class="container mt-5">
<h2> History</h2>
</div>

    <div class="d-flex justify-content-evenly">
            
        <table class="table w-75 bdr mt-5" id="tasktable">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date Made</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task['title'] }}</td>
                        <td>{{ task['date_made'] }}</td>
                        <td>Completed</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}